<!doctype html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- styling -->
    <title>Weatherman</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">

  </head>
  <body>
    {{{body}}}
  </body>
</html>